*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

#container{
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgb(101, 112, 91);
}

#nav{
    background-color: rgba(27, 18, 18, 0.355);
    color:rgb(165, 25, 25);
    display: table;
    width: 100%;
}

#nav ol{
    display: flex;
}

#nav ol li{
    list-style: none;
}

#nav ol li a{
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    display: table;
    border-right: 2px solid rgb(187, 185, 54);
    color: rgb(255, 255, 255);
}

#header{
    display: table;
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
    background-image: url(../img/5dce87d0-65da-4285-ac57-fcd0648f4fbf.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#header h2{
    text-align: center;
    vertical-align: middle;
    line-height: 400px;
    color: rgb(255, 255, 255);
    font-size: 3cm;
}

#footer{
    display: table;
    width: 100%;
    height: 100px;
    color: rgb(245, 242, 242);
    text-align: center;
    padding-top: 2%;
    font-weight: 700;
    background-color: rgba(101, 112, 91);
}

#biografia{
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
}

#logros{
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
}

#maquina{
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
}

#prueba{
    display: table;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
}

.Imagen-BIOGRAFIA{

width:250px;
height:250px;
float: left;
margin-bottom: 3%;
margin-left: 5%;
margin-right: 5%;
margin-top: 1%;
border: 1px solid rgb(255, 255, 255);
border-radius: 11%;
            
}

.Imagen-LOGROS{

width:250px;
height:250px;
float: right;
margin-bottom: 3%;
margin-left: 5%;
margin-right: 5%;
margin-top: 1%;
border: 1px solid rgb(255, 255, 255);
border-radius: 11%;
                
}

.Imagen-MAQUINA{

width:260px;
height:260px;
float: left;
margin-bottom: 3%;
margin-left: 5%;
margin-right: 5%;
margin-top: 1%;
border: 1px solid rgb(255, 255, 255);
border-radius: 11%;
                    
}

.Imagen-PRUEBA{

width:260px;
height:260px;
float: right;
margin-bottom: 3%;
margin-left: 5%;
margin-right: 5%;
margin-top: 1%;
border: 1px solid rgb(255, 255, 255);
border-radius: 11%;
                        
}

h3{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

p{
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 1%;
    font-size: 0.5cm;
}

@media  (max-width:393px) {
    #header{
        display: table;
        width: 100%;
        height: 400px;
        background-color: rgb(255, 255, 255);
        background-image: url(../img/5dce87d0-65da-4285-ac57-fcd0648f4fbf.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    #header h2{
        display: none;
    
    }


    #nav{
        background-color: rgba(27, 18, 18, 0.355);
        color:rgb(165, 25, 25);
        display: table;
        width: 100%;
    }
    
    #nav ol{
        display: block;
    }
    
    #nav ol li{
        text-align: center;
    }
    
    #nav ol li a{
        text-decoration: none;
        width: 100%;
        display: table;
        border-bottom: 1px solid rgb(187, 185, 54);
        color: rgb(255, 255, 255);
    }
}
    